{
  "extends": "react-app",

  "globals": {
    "__PATH_PREFIX__": true
  },

  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": { "jsx": true }
  },
  "env": {
    "browser": true
  }
}
