{:paths ["src"]
 :deps  {org.babashka/http-server {:mvn/version "0.1.11"}
         org.babashka/cli         {:mvn/version "0.2.23"}}
 :tasks
 {:requires ([babashka.cli :as cli])
  :init     (def cli-opts (cli/parse-opts *command-line-args* {:coerce {:port :int}}))

  serve {:doc      "Serve static assets"
         :requires ([babashka.http-server :as server])
         :task     (server/exec (merge {:port 1888 :dir  "public"}
                                       cli-opts))}

  render {:doc  "Render blog"
          :task (load-file "src/render.clj")}

  watch {:depends [render]
         :doc     "Watch posts and templates and call render on file changes"
         :task    (load-file "src/watch.clj")}}}
